.respuesta{
    
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px !important;
    cursor: pointer;
}

.texto-respuesta{
    margin-bottom: 0px !important;
    margin: 0 0 0px !important;
}

.selected{
    border: 3px solid rgb(84, 11, 145) !important;
}

.card{
    margin-bottom: 1rem;
}

.boton{
    margin-top: 5px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px !important;
    cursor: pointer;
    background-color: rgb(84, 11, 145);
    color: white;
}

.content{
    background-color: rgb(249, 223, 252);
    height:100%;
}

.textColored{
    color:rgb(84, 11, 145)
}